<section class='users_section'>
  <%= render "shared/add_user" %>
  <div class='show_info'>
    <div class='bio'>
      <h3>Bio</h3>
      <h3><%= @user.bio%></h3>
    </div>      
        <%@user.latest_posts.each do |post|%>
        <div class='bio'>
          <h3>Post #<%=post.id%></h3>
            <div class='post_container'>
              <h3 class='post_text'><%=post.text%></h3>
              <p class='counters'>Comments: <%=@user.comments.count%>, Likes: <%=@user.likes.count%></p>
            </div>
            </div>
       <%end%>
            <%=link_to user_posts_path(@user) do%>
            <button>See all posts</button>
            <%end%>
  <div>
  <div class='button-see-all-posts'>
    <%=link_to new_post_path do%>
    <button>Create New Post</button>
  <%end%>
  </div>
</section>